<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EventCards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
</head>
<body>


  <div class="user-controls">
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'button user-controls__link' %>
    <% end %>
  </div>

  <main class="main">
    <%= yield %>
  </main>

  <% if notice %>
  <p id="notice" class="panel light">
    <%= notice %>
    <%= link_to 'x', '', class: 'notice__dismiss' %>
  </p>
  <% end %>
  <% if alert %>
  <p id="alert" class="panel light caution"><%= alert %>
    <%= link_to 'x', '', class: 'alert__dismiss' %>
  </p>
  <% end %>

</body>
</html>
